.card {
  border: 1px solid black;
  background: white;
  width: 300px;
  height: 500px;
  margin: auto;
  border-radius: 10px;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.top-suit {
  margin: 0;
  align-self: flex-start;
}
.bottom-suit {
  margin: 0;
  align-self: flex-end;
  transform: rotate(180deg);
}
body {
  background: green;
}
.red {
  color: red;
}
